.Button__EditWish{
    background-color: cornsilk;
    border: 1px solid rgba(31, 31, 41, 0.824);
    border-radius: 6px;
    color: cornflowerblue;
    font-size: 12px;
    margin-bottom: 2px;
    font-weight: bold;
  }

.Button__DeleteWish{
    background-color: rgba(31, 31, 41, 0.824);
    border: 1px solid cornsilk;
    border-radius: 6px;
    color: rgb(197, 194, 228);
    font-size: 12px;
    font-weight: bold;
}

.WishList__wish{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.WishList__wish_title {
    font-weight: 350;
    padding-left:10px;
    
}

.WishList__wish_title p {
    font-weight: bold;
    font-size: 16px;
}

.WishList__wish_url a{
    font-weight: 350;
    padding-left:10px;
    color: red;
}

.WishList__wish_url a:hover{
    color: cornflowerblue;
    font-weight: bold;

}

.card{
    border-radius: 6px;
    background-color:  rgba(238, 230, 255, 0.577);
    margin: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid darkgrey;
}

.title{
    font-weight: bold;
}