.App {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
    background: url('../../images/list2.jpeg') no-repeat center right;
    background-size: cover;
  }
  
  .App__header {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .App__main {
    height: calc(100vh - 70px);
    overflow: auto;
    margin-top: 10px;
    padding-bottom: 40px; 
  }

  @media only screen and (min-width: 700px) {
    .loginForm{
      width:50%;
    }
  }
  
  @media only screen and (min-width: 900px) {
    .loginForm{
      width:40%;
    }
  }
  
  @media only screen and (min-width: 1000px) {
    .loginForm{
      width:30%;
    }
  }