.Button__CreateList{
    background-color: rgba(228, 228, 250, 0.831);
    border: 1px solid rgba(31, 31, 41, 0.824);
    border-radius: 6px;
    color: rgb(37, 35, 58);
    font-size: 13px;
    margin-top: 5px;
    font-weight: bold;
  }

.List_Title, .List_Description{
    margin-top: 10px; 
    text-shadow: 1px 1px 0 white;
    font-weight: bold;
    font-size: 16px;
}