  .Header {
    height: 40px;
    display: flex;
    align-items: normal;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  
  .Header h1 {
    margin: 0;
  }
  
  .Header h1 a {
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline cornflowerblue;
    text-decoration-style: wavy;
    text-shadow: 0 0 6px #FF0000, 0 0 10px cornflowerblue;
  }
  
  .Header a {
    color:cornsilk;
  }

  .Header h1 a:hover {
    color: cornflowerblue;
    font-size: 30px;
  }
  
  .Header__not-logged-in {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-shadow: 0 0 10px black;
  }

  .Header__not-logged-in a:hover {
    color: cornflowerblue;
    font-size: 18px;
    text-shadow: 0 0 6px #FF0000, 0 0 10px cornflowerblue;
  }
  
  .Header__not-logged-in .Hyph {
    display: none;
  }

  .Header__logged-in {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-shadow: 0 0 10px black;
  }

  .Header__logged-in a:hover {
    color: cornflowerblue;
    font-size: 18px;
    text-shadow: 0 0 6px #FF0000, 0 0 10px cornflowerblue;
  }
  
  @media screen and (min-width: 450px) {
    .Header {
      align-items: baseline;
    }

    .Header h1 {
      font-size: 35px;
    }
  
    .Header__not-logged-in {
      flex-direction: row;
      font-size: 20px;
    }
  
    .Header__not-logged-in .Hyph {
      display: initial;
    }
  }