.ListWishList {
    background: none;
    font-size: smaller;
    display: block;
    padding: 10px 10px 0;
    margin-bottom: -1px;
    border: 1px solid darkgray;
    border-radius: 6px;
    text-align: center;
    width: 100%;
    text-decoration: none;
    margin-top: 0;
  }

  .ListWishList__Container{
    display: flex;
    flex-direction: column;
  }

  .Button__DeleteList{
    background-color: cornsilk;
    border: 1px solid rgba(31, 31, 41, 0.824);
    color: cornflowerblue;
    font-size: 12px;
    border-radius: 6px;
    font-weight: bold;
    
  }

  .Button__DeleteList:hover {
    font-size: 14px;
    border: 1px solid rgba(31, 31, 41, 0.824);
  }

  .card{
    border-radius: 6px;
    background-color: rgba(238, 230, 255, 0.577);
    margin: 5px;
    border: 1px solid darkgrey;
  }
  
  .ListWishList:hover {
    cursor: pointer;
    background-color: #f7f8f9;
    position: relative;
    padding-top: 5px;
    font-size: 16px;
  }
  
  .ListWishList,
  .ListWishList:visited {
    color: #555;
  }
  
  .ListWishList__header {
    align-items: baseline;
    display: flex;
    justify-content: center;
  }

  .ListWishList__header h2{
    font-weight: bold;
    text-shadow: 2px 2px 3px #FF0000;
  }
  
  .ListWishList__heading {
    margin: 0;
  }

  .ListWishList__description {
      font-style: italic;
      color: black;
      font-size: 15px;
  }
  